/* HTML: <div class="triangle"></div> */
.shape {
    background: linear-gradient(45deg,#FA6900,#C02942);

}

.triangle {
    aspect-ratio: cos(30deg);
    clip-path: polygon(0 0,100% 50%,0 100%);
    stroke: black;
  }